<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <!-- <meta http-equiv="refresh" content="4">  page refresh automatically -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobby News - Profile</title>
    <meta name="keywords" content="Follow Blog">
    <meta name="description" content="Follow Blog">
    <meta name="author" content="p-themes"> 

    <!-- Favicon   -->
    {% load static %}  
        
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'sBlog/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'sBlog/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'sBlog/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'sBlog/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'sBlog/icons/favicon.png' %}" color="#666666">
    <link rel="shortcut icon" href="{% static 'sBlog/icons/favicon.png' %}">
    <meta name="msapplication-config" content="{% static 'sBlog/icons/favicon.png' %}"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"> 
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'sBlog/css/profile.css' %}"> 
</head>
{% load custom_tag %}
<body >
     {% include 'header.html' %}
     <br><br>
     <div class="main main-raised">
		<div class="profile-content">
            <div class="container" style="background: #ddd;">
                <div class="row">
	                <div class="col-md-6 ml-auto mr-auto">
        	           <div class="profile">
	                        <center class="avatar">
	                            <img src="{{BASIC_DIR}}/account/media/{{obj_profile.profile_image}}" width="130" height="130" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                            
                            </center>
                            {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                            <p class="mb-4">
                              <li {% if message.tags %} style="color: rgb(230, 6, 6);" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            </p>
                            {% endfor %}
                            </ul>
                          {% endif %}
	                        <center class="name">
	                            <h3 class="title">{{obj_profile.first_name}} {{obj_profile.last_name}}</h3>
                               
                                <h4>{{obj_profile.email}}</h4>
								<h5>{{obj_profile.gender}}</h5>
								<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
                            </center>
	                    </div>
    	            </div>
                </div>
                <div class="description text-center">
                    <p>{{obj_profile.town_address}}, {{obj_profile.country_address}} </p>
                </div>
               
                <div class="description text-center">
                    <p>{{obj_profile.phone_number}} </p>
                    <p>{{obj_profile.date_DoB}} </p>
                </div>
                <center>
                    <button type="button" value="Edit"  data-toggle="modal" data-target="#myEditProfile" class="btn-primary tm-btn btn">Edit Profile
                      <i class="material-icons">edit_note</i> </button>


                    <button type="button" class="btn-primary tm-btn btn" data-toggle="modal" data-target="#myModal">
                      Create Blog<i class="material-icons">edit</i>
                    </button> 
                    </center>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal"  role="dialog" aria-labelledby="myModalLabel" tabindex="-1"  >
                      {% include 'AddPost.html' %}
                    </div>
                    <div class="modal fade" id="myEditProfile"  role="dialog" aria-labelledby="myEditProfile" tabindex="-1"  >
                      {% include 'editProfile.html' %}
                    </div>
                   
            </div>
				<div class="row">
					<div class="col-md-12 ml-auto mr-auto">
                        <div class="profile-tabs">
                          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist"  id="myTab">
                            <li class="nav-item" role="presentation" onclick="studioFun()" id="studioFun" data-value="none"  >
                                <a class="nav-link active" href="#studio" data-toggle="tab"  id="studioFun"  aria-selected="true" >
                                  <i class="material-icons">camera</i>
                                  Timeline
                                </a>
                            </li>  
                            <li class="nav-item" onclick="favoriteFun()"  id="meclick" role="presentation" >
                                <a class="nav-link"  href="#favorite" data-toggle="tab"  id="favoriteFun"   aria-selected="false">
                                  <i class="material-icons">favorite</i>
                                    Favorite
                                </a>
                            </li>
                          </ul>
                        </div>
    	    	</div>
           
        
          <div class="tab-content" style="padding-left: 6%;">
            <div class="tab-pane text-center" style="display: block;" id="studioID" >
                <hr class="tm-hr-primary tm-mb-55">  
                  {% for blog in Show_blog %}
                    <article class="col-12 col-md-12 tm-post">
                       
                        <a href="{% url 'showPost' blog.blog_id %}" class="effect-lily tm-post-link tm-pt-60">
                          {% if blog.blog_type == "Text" %}
                          
                          {% else %}
                            {% if blog.blog_type == "Image" %}
                              <div class="imgViewHome">
                                  <img src="{{BASIC_DIR}}/blog/media/{{blog.blog_file}}"  class="imgViewHome" alt="Image" class="img-fluid">                            
                              </div>
                            {% else %}
                            <video  controls class="imgViewHome">
                              <source src="{{BASIC_DIR}}/blog/media/{{blog.blog_file}}" class="imgViewHome" type="video/mp4">	 
                          </video>
                            {% endif %}
                          {% endif %}
                            <span class="position-absolute tm-new-badge">New</span>
                            <h2 class="tm-pt-20 tm-color-primary tm-post-title">{{blog.blog_Title}}</h2>
                        </a>   
                        {% if blog.blog_Post_Text == "N/A" %}    
                        {% else %}             
                        <p class="tm-pt-25">
                            {% if blog.blog_Post_Text|slice:350 < blog.blog_Post_Text|slice:351 %}
                            {{blog.blog_Post_Text|slice:350}} ... <a href="{% url 'showPost' blog.blog_id %}" style="color: rgba(37, 125, 219, 0.839);"> Read more </a>
                            {% else %}
                            {{blog.blog_Post_Text}}
                            {% endif %}
                        </p>
                        {% endif %}
                        <div class="d-flex justify-content-between tm-pt-45">
                          <span class="tm-color-primary">
                              {% if blog.blog_Category == "N/A" %}
                                  Text
                              {% else %}
                                {{blog.blog_Category.split|join:" , "}}
                              {% endif %}
                          </span>
                            <span class="tm-color-primary">{{blog.created_at}}</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>({{blog.blog_id|Comment_count}})  comments</span>
                            <span> 
                              <form action="{% url 'add_favorite' %}" method="post" enctype="multipart/form-data">  
                                {% csrf_token %}
                                <input value="{{blog.blog_id}}" name="favorite_id" id="favorite_id" hidden>
                              <button type="submit" style="border: none none; border-radius: none none; border-inline-color: none;">({{blog.blog_id|Favorite_count}})  Favorite</button>
                              </form>
                             </span>
                            <span>by {{blog.blog_email.first_name}} {{blog.blog_email.last_name}}</span>
                        </div>
                    </article>
                  <!--     <div style="border: #fff solid; width: 4rem; height: 100%;"></div>  -->
                    {% endfor %}
                    
            </div>  
           
            
            <div class="tab-pane text-center"  style="display: none;" id="favoriteID" >
              <hr class="tm-hr-primary tm-mb-55"> 
              <div class="row tm-row"> 
                {% for blog in Show_blog_fav %}
                {% for prof in profile_fav %}
                {% if prof.fav_id.blog_id == blog.blog_id %}
                  <article class="col-md-12 col-md-6 tm-post" >
                      <a href="{% url 'showPost' blog.blog_id %}" class="effect-lily tm-post-link tm-pt-60">
                        {% if blog.blog_type == "Text" %}
                        
                        {% else %}
                          {% if blog.blog_type == "Image" %}
                            <div class="imgViewHome">
                                <img src="{{BASIC_DIR}}/blog/media/{{blog.blog_file}}"  class="imgViewHome" alt="Image" class="img-fluid">                            
                            </div>
                          {% else %}
                          <video  controls class="imgViewHome">
                            <source src="{{BASIC_DIR}}/blog/media/{{blog.blog_file}}" class="imgViewHome" type="video/mp4">	 
                        </video>
                          {% endif %}
                        {% endif %}
                          <span class="position-absolute tm-new-badge">New</span>
                          <h2 class="tm-pt-20 tm-color-primary tm-post-title">{{blog.blog_Title}}</h2>
                      </a>   
                      {% if blog.blog_Post_Text == "N/A" %}    
                      {% else %}             
                      <p class="tm-pt-25">
                          {% if blog.blog_Post_Text|slice:350 < blog.blog_Post_Text|slice:351 %}
                          {{blog.blog_Post_Text|slice:350}} ... <a href="{% url 'showPost' blog.blog_id %}" style="color: rgba(37, 125, 219, 0.839);"> Read more </a>
                          {% else %}
                          {{blog.blog_Post_Text}}
                          {% endif %}
                      </p>
                      {% endif %}
                      <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">
                            {% if blog.blog_Category == "N/A" %}
                                Text
                            {% else %}
                              {{blog.blog_Category.split|join:" , "}}
                            {% endif %}
                        </span>
                          <span class="tm-color-primary">{{blog.created_at}}</span>
                      </div>
                      <hr>
                      <div class="d-flex justify-content-between">
                          <span>({{blog.blog_id|Comment_count}})  comments</span>
                          <span> 
                            <form action="{% url 'add_favorite' %}" method="post" enctype="multipart/form-data">  
                              {% csrf_token %}
                              <input value="{{blog.blog_id}}" name="favorite_id" id="favorite_id" hidden>
                            <button type="submit" style="border: none none; border-radius: none none; border-inline-color: none;">({{blog.blog_id|Favorite_count}})  Favorite</button>
                            </form>
                           </span>
                          <span>by {{blog.blog_email.first_name}} {{blog.blog_email.last_name}}</span>
                      </div>
                  </article>
                
                 <!--  <div style="border: #fff solid; width: 4rem; height: 100%;"></div> -->
                  {% endif %}
                  {% endfor %}
                   
                  {% endfor %}
                    
          </div>  


          </div>
            </div>
        </div>
        </div>
	</div>
   <br>
	   <footer class="row tm-row">
              <hr class="col-12">
              <div class="col-md-6 col-12 tm-color-gray">
                  by Arshad Ali Design :<a rel="nofollow" target="_parent" href="https://www.github.com/s2021027010" class="tm-external-link">Hobby Blogs</a>
              </div>
              <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                  Copyright 2024/03/03 , Hobby Blog News Company Co. Ltd.
              </div>
          </footer>
 
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>


    {% load static %}
    <script src="{% static 'sBlog/js/profile.js' %}"></script>

    <!--===============================================================================================-->
  <script src="{% static 'sAccount/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'sAccount/js/animsition.min.js' %}"></script>
  <script src="{% static 'sAccount/js/popper.js' %}"></script>
  <script src="{% static 'sAccount/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'sAccount/js/select2.min.js' %}"></script>
  <script src="{% static 'sAccount/js/moment.min.js' %}"></script>
  <script src="{% static 'sAccount/js/daterangepicker.js' %}"></script>
  <script src="{% static 'sAccount/js/countdowntime.js' %}"></script>
  <script src="{% static 'sAccount/js/main.js' %}"></script>

  <script src="{% static 'sBlog/js/checkbox.js' %}"></script>


 <script> 
       
function studioFun() {  
                  document.getElementById("studioID").style.display = "block";
                  document.getElementById("favoriteID").style.display = "none"; 
	}
         
function favoriteFun() { 
                  document.getElementById("studioID").style.display = "none";
                  document.getElementById("favoriteID").style.display = "block"; 
	}
</script>
</body>